.row{
	display: flex;
	flex-direction: column;

	@mixin atmedium{
		flex-direction: row;
	}
	
	&--gutters{
		margin-right: -2.5rem;
	}
	&--gutters > div{
		padding-right: 2.5rem;
	}
	&__2{
		flex: 2;
	}
	&__3{
		flex: 3;
	}

	&__4{
		flex: 4;
	}
	&__6{
		flex: 6;
	}

	&__8{
		flex: 8;
	}
	&__10{
		flex: 10;
	}
	&__12{
		flex: 12;
	}
}