.row{
	display: flex;
	flex-direction: column;

	& > div{
		width: 100%;
	}

	@mixin atmedium{
		flex-direction: row;
	}
	
	&--gutters{
		margin-right: -2.5rem;
	}

	&--gutters > div{
		padding-right: 2.5rem;
	}

	&--gutters-large{
		margin-right: -100px;
	}

	&--gutters-large > div{
		padding-right: 100px;
	}

	&__2{
		width: 16.60%;
	}

	&__3{
		width: 25%;
	}

	&__4{
		width: 33.33%;
	}

	&__6{
		width: 50%;
	}

	&__8{
		width: 66.66%;
	}

	&__10{
		width: 84.40%;
	}

	&__12{
		width: 100%;
	}
}