.site-footer{
	background-color: $mainBlue;
	color: #fff;
	text-align: center;
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
>>>>>>> 936232828551047b741a389b03c5dfd253ef4d3c

	& span{
		display: block;
		margin-bottom: 1rem;
		font-weight: 200;

		@mixin atmedium{
			display: inline-block;
			margin-right: 1rem;
		}
	}
<<<<<<< HEAD
=======
>>>>>>> footer
>>>>>>> 936232828551047b741a389b03c5dfd253ef4d3c
}